In [1]:
import pandas as pd
from langchain_core.documents import Document

In [ ]:
# def dataconveter():
#     Nepal_imports_data=pd.read_csv("D:\\Customs Clearance_chatbot\\data\\nepal_imports_1000.csv")

#     data=Nepal_imports_data[["Product_ID","Product_Category","Product_Name","CIF_Value_USD","Customs_Duty_Rate_pct","Customs_Duty_USD,VAT_pct","VAT_USD","Total_Landed_Cost_USD"]]

#     product_list = []

In [12]:
Nepal_imports_data_1=pd.read_csv("D:\\Customs Clearance_chatbot\\data1\\nepal_imports_1000_New_updated.csv")
Nepal_imports_data_1.head()

,Product_ID,Product_Category,Product_Name,CIF_Value_USD,Customs_Duty_Rate_pct,Customs_Duty_USD,VAT_pct,VAT_USD,Total_Landed_Cost_USD,Notes,product_tax,product_price
0,NPIMP0001,Agricultural / Primary Products (India origin),Rice,190.19,3.75,7.13,13,25.65,222.97,Many are duty-free under treaties; varies by e...,842.49,16295
1,NPIMP0002,Electronics (consumer),Laptop,1217.38,19.64,239.09,13,189.34,1645.81,Duty varies by HS code and luxury classification.,185.31,1360
2,NPIMP0003,Machinery / Basic industrial goods,CNC Part,1201.98,6.56,78.85,13,166.51,1447.34,Essential machinery often has lower duty.,430.82,5890
3,NPIMP0004,Agricultural / Primary Products (India origin),Vegetables,173.37,0.58,1.01,13,22.67,197.05,Many are duty-free under treaties; varies by e...,2180.44,12464
4,NPIMP0005,Luxury Items (watches / accessories),Luxury Watch,3554.96,68.03,2418.44,13,776.54,6749.94,High duty + possible excise.,816.94,11784

In [ ]:
# Print all columns
print(Nepal_imports_data_1.columns.tolist())

['Product_ID', 'Product_Category', 'Product_Name', 'CIF_Value_USD', 'Customs_Duty_Rate_pct', 'Customs_Duty_USD', 'VAT_pct', 'VAT_USD', 'Total_Landed_Cost_USD', 'Notes', 'product_tax', 'product_price']

:

In [11]:
for index, row in data.iterrows():
    # Construct an object with all required attributes

 obj = {
        'product_name': row['product_title'],
        'review': row['review'],
        'Product_ID': row['Product_ID'],
        'Product_Category': row['Product_Category'],
        'Product_Name': row['Product_Name'],
        'CIF_Value_USD': row['CIF_Value_USD'],
        'Customs_Duty_Rate_pct': row['Customs_Duty_Rate_pct'],
        'Customs_Duty_USD': row['Customs_Duty_USD'],
        'VAT_pct': row['VAT_pct'],
        'VAT_USD': row['VAT_USD'],
        'Total_Landed_Cost_USD': row['Total_Landed_Cost_USD']
    }

NameError: name 'data' is not defined